
<div class="wrapper" fxLayout="column">

    <app-add-header [title]="headerTitle"></app-add-header>

    <!-- todo wyekstraktowac do komponentow, posprzatac -->
    <div fxLayout="column" fxLayoutAlign="center center">
        <div style="width: 90%;" fxLayout="column">
        
            <div class="summary-holder" fxLayoutAlign="space-between center">
                <span class="text-light-grey"> {{ lesson.name }} </span>

                <div>
                    <button class="mode-left" mat-stroked-button (click)="toggleMode(AddMode.CARD)"> 
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <mat-icon [ngClass]="mode == AddMode.CARD ? 'active-mode' : ''"> content_copy </mat-icon>
                        </div>
                    </button>
                    <button class="mode-right" mat-stroked-button (click)="toggleMode(AddMode.BULK)"> 
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <mat-icon [ngClass]="mode == AddMode.BULK ? 'active-mode' : ''"> text_format </mat-icon>
                        </div>
                    </button>
                </div>
            </div>

            <div *ngIf="mode == AddMode.CARD" fxLayout="column">
                <form class="main-list" [formGroup]="addCardsForm">
                
                    <ng-container formArrayName="cards">
                        <ng-container *ngFor="let cardForm of cardsFormArray.controls; let i = index">
                            <div class="card" [formGroupName]="i">

                                <div fxLayout="row" fxLayoutAlign="end center">
                                    <!-- dodac animacje usuwania karty -->
                                    <mat-icon class="delete-card-icon" *ngIf="cardsFormArray.controls.length > 1" (click)="deleteCard(i)"> delete_outline </mat-icon>
                                </div>

                                <div fxLayout="column" fxLayoutAlign="center center">

                                    <div class="form-field-holder">
                                        <mat-label> {{ questionLabel | titlecase }} </mat-label>
                                        <mat-form-field>
                                            <input matInput #question formControlName="question" autocomplete="off">
                                            <button *ngIf="question.value" matSuffix mat-icon-button (click)="question.value=''">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-hint align="end"> {{ question.value.length }}/{{ maxLength }} </mat-hint>
                                        </mat-form-field>
                                    </div>
    
                                    <div class="form-field-holder">
                                        <mat-label> {{ answerLabel | titlecase }} </mat-label> 
                                        <mat-form-field>
                                            <input matInput #answer formControlName="answer" autocomplete="off">
                                            <button *ngIf="answer.value" matSuffix mat-icon-button (click)="answer.value=''">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-hint align="end"> {{ answer.value.length }}/{{ maxLength }} </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                
                        <div class="add-card-button" fxLayout="column" fxLayoutAlign="center center">
                            <button mat-mini-fab color="primary" (click)="addEmptyCard()">
                                <mat-icon> add </mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </form>
                
                <button class="bottom-button" mat-flat-button color="primary" [disabled]="!addCardsForm.valid" (click)="save()">
                    Zapisz karty ({{ cardsFormArray.length }}) 
                </button>
            </div>
            
            <div *ngIf="mode == AddMode.BULK" fxLayout="column">
                <form class="main-list" [formGroup]="addCardsBulkForm">    
                    <mat-form-field class="bulk-area">
                        <!-- todo naprawic zeby bylo scrolowalne -->
                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="cards"></textarea>
                    </mat-form-field>
                </form>
                
                <button class="bottom-button" mat-flat-button color="primary" [disabled]="!addCardsBulkForm.valid" (click)="toggleMode(AddMode.CARD)"> Konwertuj na karty </button>
            </div>

        </div>
    </div>
</div>