
<div fxLayout="column" fxLayoutAlign="center center">
    <div style="width: 90%;" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="learn-header" fxFlex="60" fxLayout="column">
                <span class="section-name"> {{ summaryData.entityName }} </span>
                <!-- <span class="sub-section-name text-light-grey"> {{ course.name }} </span> -->
            </div>
        </div>

        <form class="main-list" [formGroup]="importForm">
            <mat-label> {{ nameLabel | titlecase }} </mat-label> 
            <mat-form-field>
                <input matInput #name formControlName="name" autocomplete="off">
                <button *ngIf="name.value" matSuffix mat-icon-button (click)="clearName()">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-hint align="end"> {{ name.value.length }}/{{ maxNameLength }} </mat-hint>
            </mat-form-field>
        </form>

        <button class="bottom-button" mat-flat-button color="primary" [disabled]="!importForm.valid" (click)="import()"> Importuj </button>
    </div>
</div>
