
<div class="container">
    <div class="main-list">
        <form [formGroup]="importForm">
            <mat-label> {{ nameLabel | titlecase }} </mat-label>
            <mat-form-field>
                <input matInput #name formControlName="name" autocomplete="off">
                <button *ngIf="name.value" matSuffix mat-icon-button (click)="clearName()">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-hint align="end"> {{ name.value.length }}/{{ maxNameLength }} </mat-hint>
            </mat-form-field>

                <app-language-select style="margin-top: 12px;" [control]="languageFormControl"></app-language-select>
        </form>

        <span class="lessons-label">Lekcje w kursie</span>

        <app-import-preview [migrationLessons]="migrationLessons" (markedLessonsChange)="excludedLessons = $event"></app-import-preview>
    </div>

    <button class="bottom-button" mat-flat-button color="primary" [disabled]="!importForm.valid" (click)="import()"> Importuj </button>
</div>
