:host {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 72px);
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 5%;
    overflow: hidden;
}

.main-list {
    flex: 1;
    overflow: auto;
    margin-top: 24px;
}

.bottom-button {
    width: 100% !important;
    height: 50px;
    border-radius: 25px !important;
    flex-shrink: 0;
    margin: 12px 0;
}

mat-form-field {
    width: 100%;
}

mat-label {
    display: inline-block;
    padding-bottom: 5px;
}
