@import "../../../styles.scss";

.learn-header {
    margin-top: 20px;
    margin-bottom: 50px;
}

.section-name {
    margin-bottom: 5px;
    font-size: x-large;
}

.sub-section-name {
    font-size: medium;
}

.learn-types {
    margin-bottom: 10px;
    width: 90%;
}
