@import "../../../styles.scss";

.learn-header {
    margin-top: 20px;
    margin-bottom: 40px;
}

.section-name {
    margin-bottom: 5px;
    font-size: x-large;
}

.sub-section-name {
    font-size: medium;
}

.learn-types {
    margin-bottom: 10px;
    width: 90%;
}

.locked-info {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 12px;
    opacity: 0.38;
    font-size: small;

    .locked-info-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
    }
}
