
@import "../../../styles.scss";

.wrapper {
    height: 100dvh; 
}

mat-progress-bar {
    transform: scaleY(1.2);
}

.card {
    position: relative;
    font-size: large;
    width: 90%;
    box-shadow: 0 0 10px 2px $dark-grey;
    border-radius: 25px;
}

.question-hint {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
    color: $light-grey;
    font-size: medium;
}

button {
    width: 100% !important;
    height: 50px;
    border-radius: 25px !important;
}

.card-content {
    padding: 0 20px;
    text-align: center;
}

.bookmark-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.swap-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.primary-color {
    color: $primary-color;
}

.status-holder {
    margin-bottom: 10px;
}

.success {
    background-color: $success;
}