

<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 20px;">
    <div class="learn-types" fxLayoutGap="20px">

        <app-learn-type-tile
            label="Wszystkie karty"
            icon="layers"
            [cardsCount]="cards.length"
            (inOrderClicked)="startAllInOrderGame()"
            (randomClicked)="startAllRandomGame()">
        </app-learn-type-tile>

        <app-learn-type-tile
            label="Tylko oznaczone"
            icon="bookmark_outline"
            [cardsCount]="markedCards.length"
            (inOrderClicked)="startOnlyMarkedGame()"
            (randomClicked)="startMarkedRandomGame()">
        </app-learn-type-tile>

        <app-quick-learn-tile
            *ngIf="cards.length >= quickLearnMinCards"
            [totalCards]="cards.length"
            (quickLearnClicked)="startQuickGame($event)">
        </app-quick-learn-tile>

        <app-wrong-cards-tile
            *ngIf="wrongPreviouslyCards.length > 0"
            [wrongCardsCount]="wrongPreviouslyCards.length"
            (wrongClicked)="startPreviouslyFailedGame()">
        </app-wrong-cards-tile>

    </div>
</div>
