

<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 20px;">
    <div class="learn-types" fxLayoutGap="20px">

        <app-learn-type-tile
            label="Wszystkie karty"
            icon="layers"
            [cardsCount]="cards.length"
            [wrongCardsCount]="wrongPreviouslyCards.length"
            (inOrderClicked)="startAllInOrderGame()"
            (randomClicked)="startAllRandomGame()"
            (wrongClicked)="startPreviouslyFailedGame()">
        </app-learn-type-tile>

        <app-learn-type-tile
            label="Tylko oznaczone"
            icon="bookmark_outline"
            [cardsCount]="markedCards.length"
            (inOrderClicked)="startOnlyMarkedGame()"
            (randomClicked)="startMarkedRandomGame()">
        </app-learn-type-tile>

    </div>
</div>
