<div *ngIf="cards.length == 0; then emptyView else normalView"></div>

<ng-template #emptyView>
    <app-empty-view [mainLabel]="emptyCardsLabel" [subLabel]="emptyCardsSubLabel"></app-empty-view>
</ng-template>

<ng-template #normalView>
    <mat-list #cardsList>
        <div class="wrapper" *ngFor="let card of cards; let lastItem = last;">
            <mat-card fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="90" fxLayout="column" [routerLink]="[card.id]">
                    <span class="text-bold"> {{ card.question }} </span>
                    <span class="text-light-grey"> {{ card.answer }} </span>
                </div>
                
                <div fxFlex="10">
                    <button mat-icon-button (click)="toggleIsMarked(card)">
                        <mat-icon [ngClass]="card.isMarked ? 'primary-color' : 'text-light-grey'"> bookmark_outline </mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </mat-list>
</ng-template>

