<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="back" (click)="back()"> arrow_back </mat-icon>
        <span> {{ title | uppercase }} </span>
    </div>

    <div *ngIf="optionsFor == Tab.LEARN then learnOptions else cardsOptions"></div>

</mat-toolbar>


<ng-template #learnOptions>
    <button mat-icon-button [matMenuTriggerFor]="cardsMenu">
        <app-combined-icon mainIcon="school" smallIcon="settings"></app-combined-icon>
    </button>

    <mat-menu #cardsMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="editLessonClicked()">
            <span> {{ editLessonLabel | titlecase }} </span>
        </button>
        <button mat-menu-item (click)="removeLessonClicked()">
            <span> {{ removeLessonLabel | titlecase }} </span>
        </button>
        <button mat-menu-item (click)="exportLessonClicked()">
            <span> {{ exportLessonLabel | titlecase }} </span>
        </button>
    </mat-menu>
</ng-template>

<ng-template #cardsOptions>
    <button mat-icon-button [matMenuTriggerFor]="cardsMenu">
        <app-combined-icon mainIcon="content_copy" smallIcon="settings"></app-combined-icon>
    </button>

    <mat-menu #cardsMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="turnLessonCards()">
            <span> {{ turnLessonCardsLabel | titlecase }} </span>
        </button>
        <button mat-menu-item (click)="removeAllCardsMarks()">
            <span> {{ removeAllCardsMarksLabel | titlecase }} </span>
        </button>
        <button mat-menu-item (click)="reorderCards()">
            <span> {{ reorderCardsLabel | titlecase }} </span>
        </button>
    </mat-menu>
</ng-template>