<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="back" (click)="back()"> arrow_back </mat-icon>
        <div fxLayout="column" fxLayoutAlign="center start">
            <span class="context-label">{{ course.name | uppercase }}</span>
            <span class="entity-name">{{ lesson.name }}</span>
        </div>
    </div>

    <div>
        <button mat-icon-button [matMenuTriggerFor]="lessonMenu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #lessonMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="editLessonClicked()">
                <span> {{ manageLessonLabel | titlecase }} </span>
            </button>
            <button mat-menu-item (click)="exportLessonClicked()">
                <span> {{ exportLessonLabel | titlecase }} </span>
            </button>
        </mat-menu>
    </div>

</mat-toolbar>