<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
        <img src="teach_me_icon.png" alt="TeachMe icon" style="height: 32px; width: 32px;">
        <span class="app-title">{{ title }}</span>
    </div>

    <div>
        <button mat-icon-button [color]="isSearchActive ? 'primary' : ''" (click)="searchToggled.emit()">
            <mat-icon>search</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="coursesMenu">
            <mat-icon> more_vert </mat-icon>
        </button>

        <mat-menu #coursesMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="removeAppData()">
                <span> {{ removeAppDataLabel | titlecase }} </span>
            </button>
        </mat-menu>

    </div>
</mat-toolbar>