<div class="wrapper" fxLayout="column">

    <app-edit-header [title]="headerTitle" (actionClicked)="removeCourse()"></app-edit-header>

    <div class="content" fxFlex fxLayout="column">
        <div class="inner" fxLayout="column">

            <form [formGroup]="editCourseForm">
                <mat-label> {{ nameLabel | titlecase }} </mat-label>
                <mat-form-field>
                    <input matInput #name formControlName="name" autocomplete="off">
                    <button *ngIf="name.value" matSuffix mat-icon-button (click)="clearName()">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-hint align="end"> {{ name.value.length }}/{{ maxLength }} </mat-hint>
                </mat-form-field>
            </form>

            <span class="lessons-label">Lekcje w kursie</span>

            <div class="lessons-list" *ngIf="cards$ | async as cards">
                <app-manage-lesson-tile
                    *ngFor="let lesson of lessons"
                    [name]="lesson.name"
                    [cardsCount]="lesson.cardIds.length"
                    [cards]="getCardsForLesson(lesson, cards)"
                    [markedForDeletion]="isMarkedForDeletion(lesson)"
                    (deleteClicked)="toggleLessonDeletion(lesson)">
                </app-manage-lesson-tile>
            </div>

        </div>
    </div>

    <div class="save-button-container">
        <button mat-flat-button color="primary" [disabled]="!editCourseForm.valid" (click)="saveCourse()"> Zapisz </button>
    </div>

</div>
