<div class="wrapper" fxLayout="column">

    <app-edit-header [title]="headerTitle" (actionClicked)="removeLesson()" (closeClicked)="close()"></app-edit-header>

    <div class="content" fxFlex fxLayout="column">
        <div class="inner" fxLayout="column">

            <form [formGroup]="editLessonForm">
                <mat-label> {{ nameLabel | titlecase }} </mat-label>
                <mat-form-field>
                    <input matInput #name formControlName="name" autocomplete="off">
                    <button *ngIf="name.value" matSuffix mat-icon-button (click)="clearName()">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-hint align="end"> {{ name.value.length }}/{{ maxLength }} </mat-hint>
                </mat-form-field>
            </form>

            <span class="cards-label">Karty w lekcji</span>

            <div class="cards-list">
                <app-manage-card-tile
                    *ngFor="let card of cards"
                    [question]="card.question"
                    [answer]="card.answer"
                    [markedForDeletion]="isMarkedForDeletion(card)"
                    [markedForMove]="isMarkedForMove(card)"
                    [availableLessons]="otherLessons"
                    [selectedMoveTargetId]="getMoveTarget(card)"
                    (deleteClicked)="toggleCardDeletion(card)"
                    (moveClicked)="toggleCardMove(card)"
                    (moveTargetSelected)="setMoveTarget(card, $event)">
                </app-manage-card-tile>
            </div>

        </div>
    </div>

    <div class="save-button-container">
        <button mat-flat-button color="primary" [disabled]="!editLessonForm.valid" (click)="saveLesson()"> Zapisz </button>
    </div>

</div>
