<app-courses-header></app-courses-header>

<div *ngIf="(courses$ | async)!.length == 0; then emptyView else normalView"></div>

<ng-template #emptyView>
    <app-empty-view [mainLabel]="emptyCoursesLabel" 
        [subLabel]="emptyCoursesSubLabel" redirectTo="/courses/new" [showButton]="true"></app-empty-view>
</ng-template>

<ng-template #normalView>
    <mat-list #coursesList>
        <div *ngFor="let course of courses$ | async; let lastItem = last;">
            <mat-card fxLayout="column" fxLayoutAlign="center start" [routerLink]="['/courses', course.id, 'lessons']">
                <div> {{ course.name }} </div>
            </mat-card>
        </div>
    </mat-list>

    <app-add-round-button redirectTo="/courses/new" [label]="courseLabel"></app-add-round-button>
</ng-template>
