
<div *ngIf="lessons.length == 0; then emptyView else normalView"></div>

<ng-template #emptyView>
    <app-empty-view [mainLabel]="emptyLessonsLabel" [subLabel]="emptyLessonsSubLabel"></app-empty-view>
</ng-template>

<ng-template #normalView>
    <ng-container *ngIf="cards$ | async as cards">
        <div class="scrollable-list" (scroll)="onScroll($event)" fxLayout="column" fxLayoutGap="8px" style="padding: 8px;">
            <div *ngFor="let lesson of lessons">
                <app-lesson-tile
                    [name]="lesson.name"
                    [cardsCount]="lesson.cardIds.length"
                    [cards]="getCardsForLesson(lesson, cards)"
                    (tileClicked)="navigateToCards(lesson.id)">
                </app-lesson-tile>
            </div>
        </div>
    </ng-container>
</ng-template>
