
<div *ngIf="lessons.length == 0; then emptyView else normalView"></div>

<ng-template #emptyView>
    <app-empty-view [mainLabel]="emptyLessonsLabel" [subLabel]="emptyLessonsSubLabel"></app-empty-view>
</ng-template>

<ng-template #normalView>
    <div fxLayout="column" fxLayoutGap="8px" style="padding: 8px;">
        <div *ngFor="let lesson of lessons">
            <app-nav-tile
                [name]="lesson.name"
                [cardsCount]="lesson.cardIds.length"
                (tileClicked)="navigateToCards(lesson.id)">
            </app-nav-tile>
        </div>
    </div>
</ng-template>
