
<div *ngIf="lessons.length == 0; then emptyView else normalView"></div>

<ng-template #emptyView>
    <app-empty-view [mainLabel]="emptyLessonsLabel" [subLabel]="emptyLessonsSubLabel"></app-empty-view>
</ng-template>

<ng-template #normalView>
    <mat-list #lessonsList>
        <div *ngFor="let lesson of lessons; let lastItem = last;">
            <mat-card fxLayout="column" fxLayoutAlign="center start" [routerLink]="[lesson.id, 'cards']">
                <div> {{ lesson.name }} </div>
            </mat-card>
        </div>
    </mat-list>
</ng-template>
