@import "../../styles.scss";

.tile-wrapper {
    position: relative;
    cursor: pointer;
}

.tile-main {
    position: relative;
    z-index: 1;
    box-shadow: var(--mdc-elevated-card-container-elevation);
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--mdc-elevated-card-container-color);
    padding: 15px 20px;
}

.tile-name {
    font-size: large;
    font-weight: 500;
}

.tile-stats {
    font-size: small;
    color: $light-grey;
    margin-top: 4px;
}
