<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="back" (click)="back()"> arrow_back </mat-icon>
        <span> {{ title | uppercase }} </span>
    </div>

    <div>
        <button mat-icon-button [matMenuTriggerFor]="lessonsMenu">
            <mat-icon> more_vert </mat-icon>
        </button>

        <mat-menu #lessonsMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="editCourseClicked()">
                <span> {{ editCourseLabel | titlecase }} </span>
            </button>
            <button mat-menu-item (click)="removeCourseClicked()">
                <span> {{ removeCourseLabel | titlecase }} </span>
            </button>
            <button mat-menu-item (click)="exportCourseClicked()">
                <span> {{ exportCourseLabel | titlecase }} </span>
            </button>
            <!-- <button mat-menu-item (click)="turnCourseCards()">
                <span> {{ turnCourseCardsLabel | titlecase }} </span>
            </button> -->
        </mat-menu>

    </div>
</mat-toolbar>