mat-toolbar {
    height: 72px;
}

.context-label {
    font-size: 13px;
    font-weight: 400;
    opacity: 0.6;
    line-height: 1.2;
    letter-spacing: 1px;
}

.course-name {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
}
