<div class="tile-wrapper">
    <div class="tile-main" fxLayout="column">
        <div class="card-header" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="13" fxLayoutAlign="center center">
                <mat-icon class="side-icon text-light-grey">{{ icon }}</mat-icon>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <app-card-icon [count]="cardsCount"></app-card-icon>
                <span>{{ label }}</span>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="primary-actions" fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-button color="primary" [disabled]="cardsCount == 0" (click)="inOrderClicked.emit()">
                <mat-icon>redo</mat-icon> Po kolei
            </button>
            <button mat-button color="primary" [disabled]="cardsCount == 0" (click)="randomClicked.emit()">
                <mat-icon>casino</mat-icon> Losowo
            </button>
        </div>
    </div>
</div>
