<div class="card" fxLayout="row" fxLayoutAlign="end center">
    <div fxFlex="13" fxLayoutAlign="center center">
        <mat-icon class="side-icon text-light-grey"> {{ icon }} </mat-icon>
    </div>
    <div fxFlex="60" fxLayoutAlign="start center">
        <div class="card-icon">
            <div class="number"> {{ cardsCount }} </div>
        </div>
        <span> {{ label }}  </span>
        

    </div>
    <mat-divider vertical></mat-divider>
    <button fxFlex="25" mat-button color="primary" 
            (click)="emitActionClicked()" [disabled]="cardsCount == 0"> 
        
        <div fxLayout="row" fxLayoutAlign="center center"  >

    
            <div>
                {{ buttonLabel }}
    
            </div>
        </div>
    </button>
</div>